<!-- Contact -->
<section id="contact">
	<div class="inner">
		<section class="split">
			<section>
				<h3>Er det noe du lurer på? Send oss en epost!</h3>
				<div class="contact-method">
					<span class="icon alt fa-envelope"></span>
					<h3>Epost</h3>
					<a href="mailto:{{ site.email }}">{{ site.email }}</a>
				</div>
			</section>
			<section>
				<h3 style="margin: 0 0 _size(element-margin) 0;"><a href="about_us.html">Hvem er vi?</a></h3>
					<div class="row">
						<div class="column">
							<figure>
								<img src="assets/images/portrait_anni.jpg" style="display: block; margin-left: auto; margin-right: auto; width: 50%;"/>
									<!-- <figcaption> Håvard Olai Kopperstad </figcaption> -->
							</figure>
						</div><div class="column">
							<figure>
								<img src="assets/images/portrait_astrid.jpg" style="display: block; margin-left: auto; margin-right: auto; width: 50%;"/>
									<!-- <figcaption> Håvard Olai Kopperstad </figcaption> -->
							</figure>
						</div><div class="column">
							<figure>
								<img src="assets/images/portrait_hok.jpg" style="display: block; margin-left: auto; margin-right: auto; width: 50%;"/>
									<!-- <figcaption> Håvard Olai Kopperstad </figcaption> -->
							</figure>
						</div><div class="column">
							<figure>
								<img src="assets/images/portrait_jo.jpg" style="display: block; margin-left: auto; margin-right: auto; width: 50%;"/>
									<!-- <figcaption> Håvard Olai Kopperstad </figcaption> -->
							</figure>
						</div><div class="column">
							<figure>
								<img src="assets/images/portrait_maren.jpg" style="display: block; margin-left: auto; margin-right: auto; width: 50%;"/>
									<!-- <figcaption> Håvard Olai Kopperstad </figcaption> -->
							</figure>
						</div>
					  </div>
			</section>
		</section>
		<section><br><br>
			<h3>Noen nyttige lenker</h3>
			<div class="contact">
				<a href="https://www.forbrukerradet.no/forside/bolig/husleie/">Forbrukerrådet</a>
			</div>
			<div class="contact">
				<a href="https://www.htu.no/klage-og-tilsvar/send-inn-klage">Husleietvistutvalget</a>
			</div>
			<div class="contact">
				<a href="https://www.leieboerforeningen.no/rettigheter/">Leieboerforeningen</a>
			</div>
		</section>
	</div>
</section>

<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">
				{% for key_value in site.socials %}
					{% if key_value[1] %}
						<li>
							<a href="{{ key_value[1] }}" class="icon alt fa-{{ key_value[0] | downcase }}" target="_blank" rel="noopener noreferrer" aria-label="{{ key_value[0] }}">
								<span class="label">{{ key_value[0] }}</span>
							</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
			<ul class="copyright">
				<li>&copy; {{ site.title }} </li>
				<li>Site template developed by: <a href="https://html5up.net" target="_blank">HTML5 UP</a></li>
				<li>Pictures by: <a href="https://www.freepik.com/" target="_blank">Freepik</a></li>
			</ul>
		</div>
	</footer>

</div>

<!-- Scripts -->
	<script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
	<script src="{{ "assets/js/main.js" | absolute_url }}"></script>
